<div id="about">
  <section id="home-icons">
    <div class="container pt-5">
    <div class="row">
      <div class="col-md-4 text-center" >
        <i class="fa fa-shopping-cart fa-3x mb-2"></i>
        <h3>Prepare your Shopping List</h3>
        <p>The gear handles the nest pressure associated with the tangential force and fictious force.</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fa fa-location-arrow fa-3x mb-2"></i>
        <h3>Mark your Location</h3>
        <p>The gear handles the nest pressure associated with the tangential force and fictious force.</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fa fa-shopping-bag fa-3x mb-2"></i>
        <h3>Order Anything</h3>
        <p>The gear handles the nest pressure associated with the tangential force and fictious force.</p>
      </div>
    </div>
  </div>
</section>

<section id="home-heading">
  <div class="dark-overlay">
    <div class="row" style="margin-right: 0 ">
      <div class="col">
        <div class="container">
          <h1>Are you ready to get everything on your door?</h1>
          <p class="d-none d-md-block">
            The gear handles the nest pressure associated with the tangential force and fictious force.
            The gear handles the nest pressure associated with the tangential force and fictious force.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>


<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 video-box">
        <img src="assets/images/about.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.
            Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
            gnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.
            gnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.
            gnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fa fa-shopping-cart "></i></div>
          <h4 class="title">Shopkeeper</h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title">Customer</h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducius qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="about-lists">
  <div class="container">

    <div class="row no-gutters">

      <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
        <span>01</span>
        <h4>Lorem Ipsum</h4>
        <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
      </div>

      <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
        <span>02</span>
        <h4>Repellat Nihil</h4>
        <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
      </div>

      <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
        <span>03</span>
        <h4> Ad ad velit qui</h4>
        <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
      </div>

      <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
        <span>04</span>
        <h4>Repellendus molestiae</h4>
        <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>
      </div>

      <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
        <span>05</span>
        <h4>Sapiente Magnam</h4>
        <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>
      </div>

      <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
        <span>06</span>
        <h4>Facilis Impedit</h4>
        <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi</p>
      </div>

    </div>

  </div>
</section>


<section class=" section spacer green">
  <div class="container">
    <div class="row">
      <blockquote class="large">
        There's huge space beetween creativity and imagination.
      </blockquote>
    </div>
  </div>
</section>
